@using X.PagedList;
@using X.PagedList.Mvc;
@using FormularioAspNetMVC.Models;

@model PagedList<Pessoa>

@{
    ViewBag.Title = "Pessoas";
}

<h2>Pessoas</h2>

<div class="row" id="row-busca">
    <div class="col-md-12">
        @using (Html.BeginForm("Index", "Pessoas", FormMethod.Get, new { @class = "form-inline" }))
        {
            <div class="input-group pull-left">
                <input type="text" class="form-control" placeholder="Buscar produto..." name="busca" value="@ViewBag.Busca">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Buscar</button>
                </span>
            </div>

            <div class="form-group pull-right">
                <select name="tamanhoPagina" id="tamanhoPagina" class="form-control" onchange="this.form.submit()">
                    <option value="2" @(ViewBag.TamanhoPagina == 2 ? "selected" : "")> Listar 2 registros por página </option>
                    <option value="4" @(ViewBag.TamanhoPagina == 4 ? "selected" : "")> Listar 4 registros por página </option>
                    <option value="6" @(ViewBag.TamanhoPagina == 6 ? "selected" : "")> Listar 6 registros por página </option>
                </select>
            </div>
        }
    </div>
</div>


<div class="row" style="margin-top: 10px">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Sexo</th>
                <th>Data Nascimento</th>
                <th>Estado Civil</th>
                <th>Logradouro</th>
                <th>Numero</th>
                <th>Cidade</th>
                <th>Estado</th>
                <th>Renda</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                    <td>@Html.DisplayFor(modelItem => item.CPF)</td>
                    <td>@Html.DisplayFor(modelItem => item.Sexo)</td>
                    <td>@Html.DisplayFor(modelItem => item.DataNascimento)</td>
                    <td>@Html.DisplayFor(modelItem => item.EstadoCivil)</td>
                    <td>@Html.DisplayFor(modelItem => item.Logradouro)</td>
                    <td>@Html.DisplayFor(modelItem => item.NumeroEndereco)</td>
                    <td>@Html.DisplayFor(modelItem => item.Cidade)</td>
                    <td>@Html.DisplayFor(modelItem => item.Estado)</td>
                    <td>@Html.DisplayFor(modelItem => item.Renda)</td>
                </tr>
            }
        </table>
    </div>

    <div class="col-md-3">
        @Html.ActionLink("Cadastrar", "Cadastro", "Pessoas", new { @class = "btn btn-primary" })
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina, busca = ViewBag.Busca }))
    </div>
    <div class="col-md-4">
        <span class="pull-right">
            Listando registros de @Model.FirstItemOnPage a @Model.LastItemOnPage de um total de @Model.TotalItemCount
        </span>
    </div>
</div>